/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Basic settings */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  /* Fonts */
  --font-family: "Open Sans", sans-serif;

  /* Colors */
  --background: #fbfbfb;
  --text: #161616;
  }
}


/* Basic styles */
body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
  line-height: 1.5;
  background: var(--background);
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}