/* External styles */
@import './components.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Basic settings */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fonts */
  --font-family: "Open Sans", sans-serif;

  /* Colors */
  --background: #fbfbfb;
  --text: #161616;
  --subtext: #7a7a7a;
  --main: #e33a6d;
  --separator: #d1d1d1;

  /* Shadows */
  --custom-header-shadow: 0 2px 10px 0 rgba(22, 22, 22, 0.1);
}

/* General styles */
body {
  color: var(--text);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  background: var(--background);
  line-height: 1.5;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}